.home-page {
  @include page-component;
}

.water-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 30vh;
  overflow: hidden;
  z-index: 10;
}

.home-heading,
.help-hours-heading,
.btn-wrapper,
.service-desc-p {
  width: 90%;
}

.home-heading {
  @include font-size(2rem);
  @include home-text;
  position: relative;
  text-transform: uppercase;
  color: $white;
  margin: 5rem 0 10rem 0;
  // transform: translate(-50%, calc(-50% + 1em));
  animation-name: fadeIn;
  animation-duration: 5s;
  text-shadow: rgb(9, 19, 34) 0 .1rem .2rem;
}

.under-water-span {
  @include font-size(10rem);
  display: block;
  color: $cream;
  letter-spacing: .75rem;
  text-shadow: rgb(9, 19, 34) 0 .2rem .4rem;
  font-weight: bold;
  animation-name: fadeIn;
  animation-duration: 7s;
}

.help-hours-heading {
  color: $gray;
  @include home-text;
}

.btn-links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 5rem 0;
}

.btn {
  @include outline-out;
}



.large {
  width: 50%;
  max-width: 400px;
  min-width: 240px;
  margin: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: .2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  align-self: center;
  padding: .5rem 2rem;
  background: $muted-blue;
  // background-image: linear-gradient(-225deg, $muted-blue 25%, $blue 75%);

  &:hover,
  &:focus {
    background: $white;
    color: $navy;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: $gold solid 4px;
    border-radius: 50px;
  }
}

.inline-link {
  color: $blue;
  text-decoration: none;
  padding: 0 5px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}