.home-page {
  position: relative;
  width: 100%;
  margin: 10rem 0;
}

.service-desc-p {
  width: 90%;
  margin: 0 auto;
}

.home-heading {
  @include font-size(2rem);
  text-transform: uppercase;
  color: $white;
  text-align: center;
}

.under-water-span {
  display: block;
}