.home-page {
  @include page-component;
  // width
}

.water-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 30vh;
  overflow: hidden;
  z-index: 6;
}

.home-heading,
.help-hours-heading,
.btn-wrapper {
  width: 90%;
}

.home-heading {
  @include font-size(2rem);
  @include home-text;
  position: relative;
  text-transform: uppercase;
  color: $gray;
  margin: 0 0 5rem 0;
  animation-name: fadeIn;
  animation-duration: 5s;
  text-shadow: $blue 0 0.05rem 0.1rem;
}

.under-water-span {
  @include font-size(10rem);
  display: block;
  color: $gray;
  letter-spacing: 0.75rem;
  text-shadow: $text-shadow 0 0.1rem 0.2rem;
  font-weight: bold;
  animation-name: fadeIn;
  animation-duration: 7s;
}

.help-hours-heading {
  @include font-size(1rem);
  color: $cream;
  @include home-text;
  margin: 0.5rem 0;
}

.home-hours {
  font-weight: 300;
  margin: 0 0 1rem 0;
}

.btn-links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
}

.service-desc-p {
  width: 85%;
  margin: 5rem 0 2rem 0;
  line-height: 1.6;
  max-width: 600px;
}

.inline-link {
  color: $blue;
  padding: 0 5px;
  cursor: pointer;
  &:focus {
    outline: $gold auto 4px;
  }
}

.footer-link {
  display: block;
  border: 1px solid $muted-blue;
  border-radius: $oval;
  color: $blue;
  padding: 0.25rem;
  margin: 0.75rem 2rem;

  &:hover,
  &:focus {
    color: $white;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: $gold solid 2px;
    border-radius: $oval;
  }
}

.ccs-link-footer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: transform 0.3s linear;
  outline: none;
  &:focus {
    .ccs-logo-img {
      border: $focus-ring;
      border-radius: 10px;
    }
  }

  &:hover,
  &:focus {
    .ccs-logo-img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.ccs-logo-img {
  z-index: 15;
  transition: transform 0.3s linear;
  height: 12rem;
  margin: 5rem auto 0 auto;
  padding: 1rem;
}
