.btn {
  @include outline-out;
}

.large {
  width: 85%;
  max-width: 400px;
  min-width: 240px;
  margin: 0.5rem 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: space-between;
  border-radius: $oval;
  align-self: center;
  padding: 0.5rem 2rem;
  background: $muted-blue;

  &:hover,
  &:focus {
    background: $white;
    color: $navy;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: $focus-ring;
    border-radius: $oval;
  }
}

.small {
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  &:focus:before,
  &:active:before {
    .phone-icon {
      border: $focus-ring;
      border-radius: 15px;
    }
  }

  &:hover,
  &:focus {
    .phone-icon {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  &:focus {
    .phone-icon {
      border: $focus-ring;
      border-radius: 15px;
      height: 3rem;
      width: 3rem;
      margin: 0.4rem;
      padding: 0.3rem;
    }
  }
}

.phone-icon {
  @include outline-out;
  transition: transform 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
