.map-page {
  @include page-component;
  padding: 4rem 0.5rem;
}

.map-area {
  width: 85%;
  min-width: 300px;
}
.center-distance-text {
  margin: 3rem auto 5rem auto;
  width: 70%;
}

.directions-icon {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 0.5rem;
  background: $muted-blue;
  border: 4px solid $muted-blue;
  border-radius: 10px;
}

.use-location-btn {
  margin: 5rem;
  border: 2px solid black;
}

.get-directions-heading {
  margin: 2rem;
  letter-spacing: 3px;
  border-bottom: 1px solid $gray;
}

.directions-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.map-btn-text {
  color: transparent;
  margin: 0;
}
.map-icon-link {
  &:focus,
  &:hover {
    .directions-icon {
      border: $focus-ring;
    }
    .map-btn-text {
      color: $gold;
    }
  }
}
