.map-page {
  @include page-component;
  padding: 4rem .5rem;
}

.map-area {
  p {
    margin-top: 2rem;
  };
};

.directions-icon {
  margin: 0 .5rem;
  color: $muted-blue;
}

.use-location-btn {
  margin: 5rem;
  border: 2px solid black;
}