.modal {
  display: flex;
  flex-direction: column;
  width: 85%;
  background: $dark-navy;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 15px;

  label {
    // margin-top: .1rem;
    color: transparent;
  }

  input {
    margin-bottom: .25rem;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 5px;
  }
}

// .icon-current-location {
//   margin-top: .9rem;
// }

.address-form {
  display: flex;
  flex-direction: column;
  border: dotted 2px $gray;
  padding: 1rem .5rem;
  border-radius: 15px;
  margin-top: 1rem;
}



.modal-btn {
  width: 100%;
  max-width: 400px;
  min-width: 240px;
  margin: .5rem .25rem;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: .1rem;
  line-height: 1;
  display: flex;
  align-self: center;
  padding: .5rem 2rem;
  background: $muted-blue;
  justify-content: space-around;
  border-radius: 15px;

  // background-image: linear-gradient(-225deg, $muted-blue 25%, $blue 75%);
  &:hover,
  &:focus {
    background: $white;
    color: $navy;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border-radius: 15px;
    border: $gold solid 4px;
  }
}

.back-btn {
  width: 100%;
  max-width: 400px;
  min-width: 240px;
  margin: 2rem .25rem .5rem .25rem;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: .2rem;
  display: flex;
  align-self: center;
  padding: .5rem 2rem;
  background: $gold;
  justify-content: space-around;

  // background-image: linear-gradient(-225deg, $muted-blue 25%, $blue 75%);
  &:hover,
  &:focus {
    background: $white;
    color: $navy;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: $gold solid 4px;
  }
}

  