.modal {
  display: flex;
  flex-direction: column;
  width: 85%;
  background: $dark-navy;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 15px;

  label {
    color: transparent;
  }

  input {
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 5px;
  }
}

// .icon-current-location {
//   margin-top: .9rem;
// }

.address-form {
  display: flex;
  flex-direction: column;
  border: dotted 2px $gray;
  padding: 1rem 0.5rem;
  border-radius: 15px;
  margin-top: 1rem;
}

.modal-btn {
  width: 100%;
  max-width: 400px;
  min-width: 240px;
  margin: 0.5rem 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 0.5rem 2rem;
  background: $blue;
  justify-content: space-between;
  border-radius: 15px;
  &:hover,
  &:focus {
    background: $white;
    color: $navy;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border-radius: 15px;
    border: $focus-ring;
  }
}

.back-btn {
  width: 100%;
  max-width: 400px;
  min-width: 240px;
  margin: 2rem 0.25rem 0.5rem 0.25rem;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: flex;
  align-self: center;
  padding: 0.5rem 2rem;
  background: $gold;
  justify-content: space-around;

  // background-image: linear-gradient(-225deg, $muted-blue 25%, $blue 75%);
  &:hover,
  &:focus {
    background: $white;
    color: $navy;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: $focus-ring;
  }
}
