.header {
  background: $dark-navy;
  position: fixed;
  top: -15px;
  z-index: 10;
  height: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3rem 4rem;
  align-items: center;
  border-radius: 15px;
}

.logo-wrapper-link {
  &:hover {
    .incrisis-logo-img {
      transform: scale(1.1);
    }
  }
  &:focus {
    .incrisis-logo-img {
      border: $focus-ring;
      border-radius: 15px;
      transform: scale(1.1);
    }
  }
}

.incrisis-logo-img {
  transition: transform 0.3s linear;
  height: 6rem;
  margin: 0 auto;
}

.hidden-text {
  font-size: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color: transparent;
  margin: 0;
}
