.header {
  background: $navy;
  position: fixed;
  top: -15px;
  z-index: 10;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.logo-wrapper-link {

  &:focus:before,
  &:active:before {
    border: $gold solid 4px;
    border-radius: 15px;
  }
  &:hover,
  &:focus {
    .incrisis-logo-img {
      transform: scale(1.1);
    }
  }

  // &:focus {
  //   outline: 2px dotted $gold;
  // }
}

.incrisis-logo-img {
  transition: transform 0.3s linear;
  height: 6rem;
  margin: 0 1rem;
}

.hidden-heading {
  font-size: 0px;
  color: transparent;
  margin: 0;
}