.header {
  background: rgba(163, 227, 247, 0.226);
  position: fixed;
  top: 0;
  z-index: 10;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ccs-logo-img {
  height: 7rem;
  padding: 1rem;
}

.hidden-heading {
  font-size: 0px;
  color: transparent;
  margin: 0;
}