{
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "comma-dangle": ["error", "never"],
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "plugins": ["jsx-a11y"]
  },

}