
// --------------------------
// COLORS
// --------------------------

$cream: hsl(50, 81%, 77%);
$muted-blue: hsl(194, 47%, 39%);
$gold: hsl(52, 28%, 53%);
$blue: hsl(190, 54%, 48%);
$navy: hsl(202, 49%, 19%);
$gray: hsl(0, 0%, 89%);

